<!-- /snippets/product-siblings.liquid -->

{%- assign sibs_collection = collections[block.settings.siblings_collection].products -%}
{%- assign cutline_default = block.settings.cutline | default: product.metafields.theme.cutline.value -%}
<div class="product__block__siblings" {{ block.shopify_attributes }}>
  {%- if sibs_collection.size > 1 -%}
    {%- assign title_down = product.title | downcase -%}
    {%- assign cutline_down = cutline_default | downcase -%}
    {%- unless title_down contains cutline_down -%}
      {% comment %} Form ID must match value in product-form.liquid {% endcomment %}
      <input type="hidden" form="{{ uniq_id }}" name="properties[{{ 'general.siblings.label' | t }}]" value="{{ cutline_default }}">
    {%- endunless -%}

    {%- if sibs_collection -%}
      <div class="product__page__siblings" data-swapper-wrapper>
        <legend class="radio__legend">
          <span class="radio__legend__label">{{ 'general.siblings.label' | t }}</span>
          <span data-swapper-target>{{ cutline_default }}</span>
        </legend>

        {%- for sib_product in sibs_collection limit: 50 -%}
          {%- assign modifier_class = '' -%}
          {%- if sib_product.handle == product.handle -%}
            {%- assign modifier_class = 'siblings__link--current' -%}
          {%- endif -%}
          {%- if sib_product.available == false -%}
            {%- assign modifier_class = modifier_class | append: ' siblings__link--sold-out' -%}
          {%- endif -%}
          {%- assign title_safe = sib_product.title | strip_html | escape -%}
          {%- assign color_name = sib_product.metafields.theme.cutline.value | default: title_safe -%}
          <a href="{{ sib_product.url }}" class="siblings__link {{ modifier_class }}" data-swapper-hover="{{ color_name }}">
            <div class="siblings__swatch">
              <div class="sibling__image">{%- render 'image-fill', img_object: sib_product.featured_media.preview_image, aspect_ratio: 1.0 -%}</div>
            </div>
            <span class="visually-hidden">{{ color_name }}</span>
          </a>
        {%- endfor -%}
      </div>
    {%- endif -%}
  {%- endif -%}
</div>